@import './mixins';
@import '~bulma/sass/utilities/all';
@import '~bulma-helpers/sass/helpers/all';

@include font-face('Bebas', '../fonts/Bebas', 'normal', 500);
@include font-face('PT Sans', '../fonts/PT-Sans', 'normal', 100);



$dark: #292C32;
$body-family: 'PT Sans', Avenir, sans-serif;
$body-background-color: #292C32;
$family-primary: $family-sans-serif;
$family-sans-serif: 'PT Sans', Avenir, sans-serif;
$navbar-background-color: $dark;
$subtitle-color: #88898D;
$subtitle-family: 'Bebas';
$subtitle-negative-margin: -1.75rem;
$text-strong: $white;
$text: $white;
$title-color: $white;
$link: $white;
$link-hover: #00d1b2;
$title-family: 'Bebas';
$title-size: $size-1;
$title-weight: 200;
:root {
  @include mobile {
    font-size: 16px;
  }
  @include tablet {
    font-size: 18px;
  }
  @include widescreen {
    font-size: 22px;
  }
  @include fullhd {
    font-size: 26px;
  }
}

.peek {
  @include mobile {
    bottom: -6rem;
  }
  @include tablet {
    bottom: -6rem;
  }
  @include from($tablet) {
    bottom: -3rem;
  }
}

#fp-nav ul li a span {
  background: #88898D;
  opacity: .3;
}

@import '~bulma';
