@mixin font-face($family,$src,$style: normal,$weight: normal) {
    @font-face {
        font-family: $family;
        src: url('#{$src}.woff2') format('woff2'),
             url('#{$src}.woff') format('woff'),
             url('#{$src}.ttf') format('trutype');
        font-display: swap;
        font-style: $style;
        font-weight: $weight;
    }
}
