[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansible = "*"
ipython = "*"
pyicloud = "*"
pytz = "*"
requests = "*"
simplejson = "*"
Flask-RESTful = "*"
Flask = "*"
pyyaml = "*"

[dev-packages]
ipython = "*"
gixy = "*"

[requires]
python_version = "3.6"
