@import './mixins';
@import './animations';
@import './sharethis';
@import './prism';
@import '~bulma/sass/utilities/all';

@include font-face('Bebas', '../fonts/Bebas', 'normal', 500);
@include font-face('PT Sans', '../fonts/PT-Sans', 'normal', 100);


$animationDuration: 0.5s;
@import "vue2-animate/src/sass/vue2-animate.scss";
$dark: #292C32;
$body-family: 'PT Sans', Avenir, sans-serif;
$body-background-color: #292C32;
$family-primary: $family-sans-serif;
$family-sans-serif: 'PT Sans', Avenir, sans-serif;
$navbar-background-color: $dark;
$subtitle-color: #88898D;
$subtitle-family: 'Bebas';
$subtitle-negative-margin: -1.75rem;
$text-strong: $white;
$text: $white;
$title-color: $white;
$link: $white;
$link-hover: #00d1b2;
$title-family: 'Bebas';
$title-size: $size-1;
$title-weight: 200;
$control-radius: 0;
$label-color: #9FA0A3;
$input-background-color: transparent;
$input-placeholder-color: #515358;
$input-border-color: #55575D;
:root {
  @include mobile {
    font-size: 16px;
  }
  @include tablet {
    font-size: 18px;
  }
  @include widescreen {
    font-size: 22px;
  }
  @include fullhd {
    font-size: 26px;
  }
}

.is-paddingless-mobile {
  @media (max-height: 800px) {
    padding: 0 !important;
  }
}

.peek {
  @include mobile {
    bottom: -6rem;
  }
  @include tablet {
    bottom: -6rem;
  }
  @include from($tablet) {
    bottom: -3rem;
  }
}

#fp-nav ul li a span {
  background: #88898D;
  opacity: .3;
}

a.button {
  transition: all 0.2s ease-in-out;
  &:hover,
  &:active,
  &:focus {
    color: $white;
    border: 0.1rem solid $white;
    border-radius: 6rem;
    transform: scale(1.1);
  }
}
@import '~bulma';
