<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="description" content="Hello! My name is Nick. I write code (namely Python and Node) and I live in New York City.">
    <meta name="theme-color" content="#282c34">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>Python/Node Developer living in New York City | Nick Ficano</title>
    <link type="font/woff2" as="font" href="{{ url_for('static', filename='font/BebasNeueRegular.woff2') }}" crossorigin>
    <link rel="apple-touch-startup-image" media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3)" href="/static/images/launch/launch-1125x2436.png">
    <link rel="apple-touch-startup-image" media="(device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3)" href="/static/images/launch/launch-1242x2208.png">
    <link rel="apple-touch-startup-image" media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2)" href="/static/images/launch/launch-1536x2048.png">
    <link rel="apple-touch-startup-image" media="(device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2)" href="/static/images/launch/launch-1668x2224.png">
    <link rel="apple-touch-startup-image" media="(device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2)" href="/static/images/launch/launch-2048x2732.png">
    <link rel="apple-touch-startup-image" media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2)" href="/static/images/launch/launch-750x1334.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/images/icons/apple-touch-icon.png">
    <link rel="icon" href="/static/images/favicon.ico">
    <link rel="manifest" href="/static/manifest.json">
    {% if config.DEBUG %}
    <link rel="stylesheet" type="text/css" href="{{- url_for('static', filename='css/' + static_assets['main.css']['filename']) -}}">
    {% else %}
    <style type="text/css">{{- static_assets['main.css']['raw'] -}}</style>
    {% endif %}
  </head>
  <body>
    {%- block content %}{% endblock %}
    <script>window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;ga('create', 'UA-13233758-1', 'auto');ga('send', 'pageview');</script>
    {% if config.DEBUG %}
    <script defer src='{{ url_for('static', filename='js/' + static_assets['main.js']['filename']) }}'></script>
    {% else %}
    <script>
      {{- static_assets['main.js']['raw'] -}}
    </script>
    {% endif %}
    <script type="application/ld+json">{"@context":"http://schema.org","@type":"Person","familyName":"Ficano","givenName":"Nick","jobTitle":"Software Engineer","image":"https://nickficano.com/static/images/nick-ficano.jpg","gender":"http://schema.org/Male","url":"https://nickficano.com","birthPlace":"Stratford, CT","birthDate":"1986.12.4","height":"71 inches","address":{"@type":"PostalAddress","addressLocality":"New York","addressRegion":"NY","postalCode":"10012","streetAddress":"99 Macdougal Street"},"email":"mailto:nficano@gmail.com","sameAs":["https://twitter.com/nficano","https://www.linkedin.com/in/nficano/","https://www.instagram.com/nficano/","https://github.com/nficano","https://angel.co/nficano"]}</script>
  </body>
</html>
