{% extends "base.j2" %}
{% block content %}
  <header></header>
  <div class="animated slideInRight tentacle"></div>
  <main class="content" role="main">
    <nav>
      <ul>
        <li class="animated animatedFadeInUp fadeInUp"><a href="https://github.com/nficano" target="_blank" rel="noopener">github</a></li>
        <li class="animated animatedFadeInUp fadeInUp"><hr /></li>
        <li class="animated animatedFadeInUp fadeInUp"><a href="https://www.linkedin.com/in/nficano/" target="_blank" rel="noopener">linkedin</a></li>
        <li class="animated animatedFadeInUp fadeInUp"><hr /></li>
        <li class="animated animatedFadeInUp fadeInUp"><a href="https://twitter.com/nficano" target="_blank" rel="noopener">twitter</a></li>
        <li class="animated animatedFadeInUp fadeInUp"><hr /></li>
        <li class="animated animatedFadeInUp fadeInUp"><a href="http://jotonce.com" target="_blank" rel="noopener">jotonce</a></li>
        <li class="animated animatedFadeInUp fadeInUp"><hr /></li>
        <li class="animated animatedFadeInUp fadeInUp"><a href="mailto:nficano@gmail.com">contact</a></li>
        <li class="animated animatedFadeInUp fadeInUp"><hr /></li>
        <li class="animated animatedFadeInUp fadeInUp square">Nick Ficano</li>
      </ul>
    </nav>
  </main>
{% endblock %}
