{% extends "base.j2" %}
{% block content %}
  <header></header>
  <div class="wrapper">
    <div class="sea-beast"></div>
    <main class="content" role="main">
      <nav>
        <ul class="list-unstyled">
          <li class="nav-item">
            <a href="https://github.com/nficano" target="_blank" rel="noopener">github</a>
          </li>
          <li class="nav-item"><hr></li>
          <li class="nav-item">
            <a href="https://www.linkedin.com/in/nficano/" target="_blank" rel="noopener">linkedin</a>
          </li>
          <li class="nav-item"><hr></li>
          <li class="nav-item">
            <a href="https://twitter.com/nficano" target="_blank" rel="noopener">twitter</a>
          </li>
          <li class="nav-item"><hr></li>
          <li class="nav-item">
            <a href="http://jotonce.com" target="_blank" rel="noopener">jotonce</a>
          </li>
          <li class="nav-item"><hr></li>
          <li class="nav-item">
            <a href="mailto:nficano@gmail.com">contact</a>
          </li>
          <li class="nav-item"><hr></li>
          <li class="nav-item square">Nick Ficano</li>
        </ul>
      </nav>
    </main>
  </div>
{% endblock %}
